<header>
    <nav>
        <ul>
            <li>
                <a ui-sref="app.aboutMe">About</a>
            </li>
            <li>
                <a ui-sref="app.contacts">Contacts</a>
            </li>
            <li>
                <a ui-sref="app.addNewContact">Add new contact</a>
            </li>
        </ul>
    </nav>
</header>
<hr>
<div class="container">


   <div onclick="app.show = !app.show" on>
       <ui-view></ui-view>
   </div>



</div>
<hr>
