table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    background: #E1E3E0;
    border-radius: 20px;
}
th {
    font-size: 22px;
    font-weight: 300;
    padding: 12px 10px;
    border-bottom: 2px solid #F56433;
    color: #F56433;
}
tbody tr:nth-child(2) {
    border-bottom: 2px solid #F56433;
}
td {
    padding: 10px;
    color: #8D8173;
}

body{
    background-image: url(../img/dark-souls-2-rpg-death-warrior.jpg);
    background-repeat: no-repeat;
}

.center{
    position: absolute;
    left: 280px;
    width: 1000px;
    padding-bottom: 1000px;
}

.addPost{
    width: 56.9%;
}

textarea{
    width: 570px;
    height: 57px;
    resize: none;

}

.block {
    width: 950px;
    height: 950px;
    position: absolute;
    top: 350px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1px auto;

}
