<div>
    <table>
        <tr><th colspan="5">Contacts</th></tr>

        <tr>
            <td>Name</td>
            <td>Number</td>
            <td>Address</td>
            <td>View more </td>
            <td>Delete</td>

        </tr>
        <tr ng-repeat="element in contacts.contacts track by $index">

            <td>{{ contacts.contacts[$index].name }}</td>
            <td>{{ contacts.contacts[$index].number }}</td>
            <td>{{ contacts.contacts[$index].address}}</td>

            <td><input type="submit" ng-click="contacts.viewMoreContact(contacts.contacts[$index].id, $index)" value="view more"></td>

            <td><input ng-click="contacts.deleteContact(contacts.contacts[$index].id, $index)" value="delete" type="submit"></td>



        </tr>
    </table>

</div>
<div>
    <ui-view></ui-view>
</div>