<div>
    <h3>Name</h3>
    <input width="40%" type="text" ng-model="add.contactName" ><br>

    <h3>Number</h3>
    <input width="40%" type="text" ng-model="add.contactNumber" ><br>

    <h3>Address</h3>
    <input width="40%" type="text" ng-model="add.contactAddress" ><br>

    <input type="submit" ng-click="add.addNewContact()" value="add">

</div>