<br>
<br>
<br>
<table>
    <tr><th colspan="4">Contact</th></tr>

    <tr>
        <td>Name</td>
        <td>Number</td>
        <td>Address</td>
        <td>Event</td>


    </tr>
    <tr>

        <td>{{ contact.contact.name }}</td>
        <td>{{ contact.contact.number }}</td>
        <td>{{ contact.contact.address }}</td>


        <td><input ng-click="contact.deleteContact(contact.contacts[$index].id)" value="delete" type="submit"></td>



    </tr>
    <tr>

        <td><input type="text" ng-model="contact.nameText"></td>
        <td><input type="text" ng-model="contact.numberText"></td>
        <td><input type="text" ng-model="contact.addressText"></td>

        <td><input type="submit" ng-click="contact.updateContact()" value="update"></td>




    </tr>
</table>
